*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #ffffff;
}
img{
  border: none;
}
a,button{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button{
  -webkit-appearance: none;
}
html,body{
  width: 100%;
  height: 100%;
  font-family:Helvetica;
}

//字体图标
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1480950484019'); /* IE9*/
  src: url('../font/iconfont.eot?t=1480950484019#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1480950484019') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1480950484019') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1480950484019#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share6:before { content: "\e602"; }

.icon-shoucang:before { content: "\e611"; }

.icon-xinwen:before { content: "\e62c"; }

.icon-wode:before { content: "\e618"; }

.icon-tubiao15:before { content: "\e64f"; }

.icon-bbs:before { content: "\e600"; }

//引导页面
.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(1){
  background-image: url("../img/flash/back1.png");
  background-size: cover;
  background-repeat: no-repeat;
  .bg11{
    width: 6.7rem;
    height: 7rem;
    margin: 2.8rem auto 0;
    background-image: url("../img/flash/11.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.swiper-wrapper .swiper-slide:nth-child(2){
  background-image: url("../img/flash/back2.png");
  background-size: cover;
  background-repeat: no-repeat;
  .bg11{
    width: 6.9rem;
    height: 6.9rem;
    margin: 2.8rem auto 0;
    background-image: url("../img/flash/22.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.swiper-wrapper .swiper-slide:nth-child(3){
  background-image: url("../img/flash/back3.png");
  background-size: cover;
  background-repeat: no-repeat;
  .bg11{
    width: 6.9rem;
    height: 6.9rem;
    margin: 2.8rem auto 0;
    background-image: url("../img/flash/33.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.swiper-wrapper .swiper-slide:nth-child(4){
  background-image: url("../img/flash/back4.png");
  background-size: cover;
  background-repeat: no-repeat;
  .bg11{
    width: 6.9rem;
    height: 6.9rem;
    margin: 2.8rem auto 0;
    background-image: url("../img/flash/44.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.swiper-wrapper .swiper-slide:nth-child(5){
  background-image: url("../img/flash/back5.png");
  background-size: cover;
  background-repeat: no-repeat;
  .bg11{
    width: 6.3rem;
    height: 5.9rem;
    margin: 1.8rem auto 0;
    background-image: url("../img/flash/55.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .word{
    width: 3.1rem;
    height: 1.1rem;
    margin: 2.5rem auto 0;
    background-image: url("../img/flash/login.png");
    background-size: cover;
    background-repeat: no-repeat;
    a{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
.swiper-wrapper .swiper-slide{
  .word{
    width: 100%;
    height: 1.5rem;
    margin: 0.7rem auto 0;
    display: flex;
    font-size: 0.6rem;
    font-weight:bolder;
    font-style: italic;
    color: #ffffff;
    justify-content:space-around;
    .word1{
      align-self:flex-start;
    }
    .word2{
      align-self:flex-end;
    }
  }
}

//登录页面
.login{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/login/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  .input{
    width: 4.6rem;
    height: 2.2rem;
    margin: 5.3rem auto 0;
    input{
      font-size: 0.4rem;
      color: #ffffff;
      text-align: center;
      line-height: 0.8rem;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
  a{
    display: block;
    width: 2.5rem;
    height: 1rem;
    margin: 0.5rem auto 0;
    background-image: url("../img/login/loginbtn.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

//列表页
.list{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #efefef;

  //新闻
  #index{
    width: 100%;
    display: block;
    padding-bottom: 1.4rem;
    h2{
      width: 100%;
      height: 1rem;
      background-color: #fafafa;
      border-bottom: 0.01rem solid #dcdcde;
      color: #000000;
      text-align: center;
      font-size: 0.5rem;
      line-height: 1rem;
    }
    .input{
      width: 100%;
      height: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .search{
        width: 6.3rem;
        height: 0.75rem;
        background-color: #ffffff;
        border-radius: 0.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .magnifier{
          width: 0.4rem;
          height: 0.4rem;
          margin-left: 0.1rem;
          background-image: url("../img/list/magnifier.png");
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        input{
          width: 92%;
          font-size: 0.3rem;
          line-height: 0.75rem;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .cancel{
        width: 0.4rem;
        height: 0.4rem;
        background-image: url("../img/list/cancel.png");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
    .new{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;
      align-content: center;
      div{
        width: 3.66rem;
        height: 3.66rem;
        margin-bottom: 0.15rem;
        a{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .news1{
        background-image: url("../img/list/1.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news2{
        background-image: url("../img/list/2.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news3{
        background-image: url("../img/list/3.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news4{
        background-image: url("../img/list/4.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news5{
        background-image: url("../img/list/5.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news6{
        background-image: url("../img/list/6.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news7{
        background-image: url("../img/list/7.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news8{
        background-image: url("../img/list/8.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news9{
        background-image: url("../img/list/9.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .news10{
        background-image: url("../img/list/10.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  //论坛
  #luntan{
    width: 100%;
    display: none;
    padding-bottom: 1.4rem;
    h2{
      width: 100%;
      height: 1rem;
      background-color: #fafafa;
      border-bottom: 0.01rem solid #dcdcde;
      color: #000000;
      text-align: center;
      font-size: 0.5rem;
      line-height: 1rem;
    }
    .input{
      width: 100%;
      height: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .search{
        width: 6.3rem;
        height: 0.75rem;
        background-color: #ffffff;
        border-radius: 0.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .magnifier{
          width: 0.4rem;
          height: 0.4rem;
          margin-left: 0.1rem;
          background-image: url("../img/list/magnifier.png");
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        input{
          width: 92%;
          font-size: 0.3rem;
          line-height: 0.75rem;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .cancel{
        width: 0.4rem;
        height: 0.4rem;
        background-image: url("../img/list/cancel.png");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
    .luntanlist{
      width: 100%;
      padding-top: 0.1rem;
      background-color: #ffffff;
      padding-bottom: 0.1rem;
      border-radius: 0.2rem;
      .item:nth-last-child(1){
        border: none;
      }
      .item{
        width: 95%;
        height: 1.3rem;
        margin: 0 auto;
        border-bottom: 1px solid #bcbcbc;
        .img{
          width: 0.9rem;
          height: 0.9rem;
          margin: 0.2rem;
          float: left;
          margin-left: 0;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .huati{
          height:100%;
          float: left;
          h3{
            font-size: 0.3rem;
            color: #000000;
            margin-top: 0.3rem;
          }
          h5{
            font-size: 0.18rem;
            color: #8d8d8d;
            margin-top: 0.1rem;
          }
        }
        .guanzhu{
          width: 0.6rem;
          height: 0.6rem;
          float: right;
          margin: 0.35rem;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      .item:nth-child(1){
        .img{
          background-image: url("../img/luntan/1.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/people.png");
        }
      }
      .item:nth-child(2){
        .img{
          background-image: url("../img/luntan/2.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/guanzhu.png");
        }
      }
      .item:nth-child(3){
        .img{
          background-image: url("../img/luntan/3.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/guanzhu.png");
        }
      }
      .item:nth-child(4){
        .img{
          background-image: url("../img/luntan/4.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/guanzhu.png");
        }
      }
      .item:nth-child(5){
        .img{
          background-image: url("../img/luntan/5.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/jia.png");
        }
      }
      .item:nth-child(6){
        .img{
          background-image: url("../img/luntan/6.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/jia.png");
        }
      }
      .item:nth-child(7){
        .img{
          background-image: url("../img/luntan/7.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/jia.png");
        }
      }
      .item:nth-child(8){
        .img{
          background-image: url("../img/luntan/8.png");
        }
        .guanzhu{
          background-image: url("../img/luntan/jia.png");
        }
      }
    }
  }

  //消息
  #xiaoxi{
    width: 100%;
    display: none;
    padding-bottom: 1.4rem;
    h2{
      width: 100%;
      height: 1rem;
      background-color: #fafafa;
      border-bottom: 0.01rem solid #dcdcde;
      color: #000000;
      text-align: center;
      font-size: 0.5rem;
      line-height: 1rem;
    }
    .input{
      width: 100%;
      height: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .search{
        width: 6.3rem;
        height: 0.75rem;
        background-color: #ffffff;
        border-radius: 0.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .magnifier{
          width: 0.4rem;
          height: 0.4rem;
          margin-left: 0.1rem;
          background-image: url("../img/list/magnifier.png");
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        input{
          width: 92%;
          font-size: 0.3rem;
          line-height: 0.75rem;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .cancel{
        width: 0.4rem;
        height: 0.4rem;
        background-image: url("../img/list/cancel.png");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
    .xiaoxilist{
      width: 100%;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      background-color: #ffffff;
      border-radius: 0.2rem;
      .item:nth-last-child(1){
        border: none;
      }
      .item{
        width: 95%;
        height: 1.3rem;
        margin: 0 auto;
        border-bottom: 1px solid #bcbcbc;
        .img{
          width: 0.9rem;
          height: 0.9rem;
          margin: 0.2rem;
          float: left;
          margin-left: 0;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .huati{
          height:100%;
          float: left;
          h3{
            font-size: 0.3rem;
            color: #000000;
            margin-top: 0.3rem;
          }
          h5{
            font-size: 0.18rem;
            color: #8d8d8d;
            margin-top: 0.1rem;
          }
        }
        .time{
          font-size: 0.2rem;
          color: #8d8d8d;
          line-height: 0.6rem;
          float: right;
          margin: 0.3rem;
        }
      }
      .item:nth-child(1){
        .img{
          background-image: url("../img/xiaoxi/1.png");
        }
      }
      .item:nth-child(2){
        .img{
          background-image: url("../img/xiaoxi/2.png");
        }
      }
      .item:nth-child(3){
        .img{
          background-image: url("../img/xiaoxi/3.png");
        }
      }
      .item:nth-child(4){
        .img{
          background-image: url("../img/xiaoxi/4.png");
        }
      }
      .item:nth-child(5){
        .img{
          background-image: url("../img/xiaoxi/5.png");
        }
      }
    }
  }

  //我的
  #wode{
    width: 100%;
    height: 100%;
    display: none;
    background-image: url("../img/wode/wode.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 1.4rem;
    box-sizing: content-box;
  }


}
//主菜单栏
#nav{
  width: 100%;
  height: 1.4rem;
  padding: 0.2rem;
  border-top: 0.01rem solid #8f8e8e;
  position: fixed;
  bottom:0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  z-index: 100;
  .item{
    width: 1rem;
    height: 1rem;
    color: #8f8e8e;
    text-align: center;
    i{
      display: block;
      line-height: 0.5rem;
      font-size: 0.5rem;
    }
    span{
      line-height: 0.5rem;
      font-size: 0.3rem;
      display: block;
    }
  }
  .item.active{
    color: #4096fb;
  }
}

//新闻页
.news{
  width: 100%;
  position: absolute;
  background-color: #efefef;
  .title{
    width: 100%;
    height: 1rem;
    background-color: #3A393E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    .back{
      width: 1.5rem;
      height: 0.6rem;
      background-image: url("../img/news/back.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      a{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    p{
      font-size: 0.5rem;
      line-height: 1rem;
      color: #ffffff;
    }
    .nav{
      width: 0.7rem;
      height: 0.4rem;
      background-image: url("../img/news/nav.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .nav-menu{
      width: 100%;
      height: 7.42rem;
      position: fixed;
      bottom: 0;
      left:0;
      right:0;
      margin: auto;
      display: none;
      background-image: url("../img/news/navmenu.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 10;
    }
  }
  .newslist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0;
    .newsItem{
      width: 7rem;
      height: 3.5rem;
      background-color: #ffffff;
      border-radius: 0.1rem;
      margin-bottom: 0.25rem;
      padding-top: 0.1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      a{
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
      }
      .img{
        width: 6.7rem;
        height: 2.7rem;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .focus{
          height: 0.5rem;
          background-color: rgba(0, 0, 0, 0.8);
          color: #ffffff;
          font-size: 0.3rem;
          line-height: 0.5rem;
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0 0.2rem;
        }
      }
      .title{
        width: 100%;
        height: 0.5rem;
        padding: 0 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: #ffffff;
        h3{
          width: 90%;
          height: 0.5rem;
          line-height: 0.5rem;
          font-size: 0.3rem;
          color: #8f8f8f;
          font-weight:bold;
          overflow: hidden;
          align-self: center;
        }
        .more{
          width: 0.3rem;
          height: 0.3rem;
          background-image: url("../img/news/more.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    .newsItem:nth-child(1) .img{
      background-image: url("../img/news/news1.jpg");
    }
    .newsItem:nth-child(2) .img{
      background-image: url("../img/news/news2.jpg");
    }
    .newsItem:nth-child(3) .img{
      background-image: url("../img/news/news3.jpg");
    }
    .newsItem:nth-child(4) .img{
      background-image: url("../img/news/news4.jpg");
    }
  }
}

//内容页
.content{
  width: 100%;
  height: 100%;
  position: absolute;
  .title{
    width: 100%;
    height: 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    .back{
      width: 0.45rem;
      height: 0.45rem;
      background-image: url("../img/contents/back.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      a{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    p{
      width: 5rem;
      height: 1rem;
      font-size: 0.4rem;
      line-height: 1rem;
      color: #000000;
      overflow: hidden;
    }
    .nav{
      width: 0.53rem;
      height: 0.45rem;
      background-image: url("../img/contents/nav.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .share{
      width: 5.39rem;
      height: 7.27rem;
      background-image: url("../img/contents/share.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;
      display: none;
    }
  }
  .img{
    width: 100%;
    height: 3.5rem;
    background-image: url("../img/contents/title.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .head{
    width: 100%;
    height: 1.4rem;
    padding: 0.2rem 0.3rem;
    line-height: 0.5rem;
    color: #ff8081;
    font-size: 0.4rem;
    font-weight:bolder;
    overflow: hidden;
  }
  .word{
    width: 100%;
    padding: 0.2rem 0.3rem;
    line-height: 0.3rem;
    color: #666666;
    font-size: 0.24rem;
    p{
      text-indent: 2em;
      margin-bottom: 0.2rem;
      img{
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .pinglun{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom:0;
    background-color: #ffffff;
    color: rgba(31, 99, 119, 0.51);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.6rem;
    input{
      width: 4rem;
      font-size: 0.3rem;
      line-height: 0.6rem;
      border: 0.01rem solid #0D8BBD;
      border-radius: 0.4rem;
      outline: none;
      background-color: transparent;
      padding-left: 0.2rem;
    }
  }
}





















